:root {
    --outter-circle-radius: 5vw;
    --outter-circle-diameter: 10vw;
    --inner-circle-radius: 2.5vw;
    --inner-circle-diameter: 5vw;
    --plus-size: 2vw;
    --icon-size: 1.5vw;
}

body {
    padding: 0;
    margin: 0;
    background: #2c3e50;
    overflow: hidden;
}


.toggle {
    background: gray;
    opacity: 70%;
    height: var(--inner-circle-diameter);
    width: var(--inner-circle-diameter);
    position: absolute;
    top: calc(50vh - var(--inner-circle-radius));
    left: calc(50vw - var(--inner-circle-radius));
    margin: auto;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.toggle i {
    font-size: var(--plus-size);
    color: white;
    opacity: 70%;
    display: block;
    margin-top: calc(var(--inner-circle-radius) - calc(var(--plus-size)/2));
    transition: 0.7s;

}

.menu {
    background: white;
    height: var(--outter-circle-diameter);
    width: var(--outter-circle-diameter);
    border-radius: 50%;
    position: absolute;
    top: calc(50vh - var(--outter-circle-radius));
    left: calc(50vw - var(--outter-circle-radius));
    z-index: -1;
    transition: 0.7s;
}

.menu a{
    display: inline-block;
    position: absolute;
    font-size: var(--icon-size);
    /* color: black; */
    transition: 0.4s;
}

.menu a:nth-child(1) {
    color: gray;
    top:calc(var(--outter-circle-diameter)/5);
    left:calc(var(--outter-circle-diameter)/5);
}

.menu a:nth-child(2) {
    color: gray;
    top:calc(var(--outter-circle-diameter)/5);
    left:calc(var(--outter-circle-diameter) - calc(var(--outter-circle-diameter)/5) - var(--icon-size));
}
.menu a:nth-child(3) {
    color: red;
    top:calc(var(--outter-circle-diameter) - calc(var(--outter-circle-diameter)/5) - var(--icon-size));
    left:calc(var(--outter-circle-diameter)/5);
}
.menu a:nth-child(4) {
    color: gray;
    top:calc(var(--outter-circle-diameter) - calc(var(--outter-circle-diameter)/5) - var(--icon-size));
    left:calc(var(--outter-circle-diameter) - calc(var(--outter-circle-diameter)/5) - var(--icon-size));
}
