svg.svgwave {
    width: 100%;
    height: auto;
    overflow: visible;
}

svg.svgwave path {
    fill:transparent;
    /*stroke:red;
    stroke-width:1px;*/
}

svg.svgwave text {
    font-size:4rem;
    fill: black;
    font-family: Outfit ;
}